* {
    font-family: "FiraMono Nerd Font", monospace;
    font-size: 12px;
    color: #ffffff;
}
window#waybar {
    background: rgba(30, 30, 30, 0.75);
    border-bottom: 1px solid #222;
}

#workspaces button {
    padding: 0px 8px;
    margin: 3px;
    border-radius: 12px;
    background: #2e2e2e;
    color: #bbb;
    border: 1px solid #444;
}

#workspaces button.active {
    background: #5a5a5a;
    color: white;
    border: 1px solid #888;
    box-shadow: 0 0 2px #5e81ac;

}

#workspaces button.urgent {
    background: #bf616a;
    color: white;
}

#workspaces button:hover {
    background: #3a3a3a;
}

#cpu, #memory, #temperature,
#network, #battery, #pulseaudio,
#custom-power, #custom-player 
#custom-power {
    padding: 3px 10px;
    margin: 3px 6px;
    background: #2a2a2a;
    border-radius: 12px;
    border: 1px solid #555;
}

#custom-power:hover {
    background: #d2717e;
}

#pulseaudio.muted {
    background: #4c4c4c;
}

#tray menu {

    background-color: #32302f;
    
    border: 1px solid #905b15;
    
    color: #d4be98;
    
    font-size: 22px; 
    
    padding: 4px; }

#tray menu menuitem:hover {
    background-color: #6d4c23; 
}
